asgiref==3.2.10
astroid==2.4.2
Django==3.0.9
django-tenants==3.1.0
isort==5.4.1
lazy-object-proxy==1.5.1
mccabe==0.6.1
psycopg2-binary==2.8.5
python-decouple==3.3
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
wrapt==1.12.1
