 body{
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   background-color: #e8f2fa;
 }

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: blue;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border: 1px solid blue;
      border-radius: 5px;
      background-color: white;
      /*box-shadow: none;*/
    }

    .input-field input[type=date],
    .input-field input[type=text],
    .input-field input[type=email],
    .input-field input[type=password] {
      background-color: #e8f2fa;
    }
